<nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img 
        src="https://images.unsplash.com/photo-1534438327276-14e5300c3a48?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGhlJTIwZ3ltfGVufDB8fDB8fHww" 
        alt="Gym Logo" 
        class="img-responsive"
        style="max-height: 100px;">
        </a>
    </div>
  </nav>
  <div class="hero">
    <div class="hero-body">
      <h1 class="title">A PLACE FOR YOUR FITNESS GOALS</h1>
      <p class="subtitle">
        We Offer Functional Training, Plyometric Boxes, Aerobics classes, TRX And Much More
      </p>
      <a class="button is-primary" href="#">Join Us</a>
      <a class="button" href="#">Our Services</a>
    </div>
  </div>